.topnav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #171a21;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    position: relative;
    z-index: 10;
    padding: 0;
}

.topnav .logo {
    float: left;
}

.topnav .link {
    float: right;
    color: rgb(217, 239, 17);
    margin-top: 25px;
}

.linktext {
    color: rgb(217, 239, 17);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 16px;
    margin-top: 20px;
}

/*made on earth by humans*/
